
if [ -v IN_FISH_SHELL ]; then
    echo "With fish environment..."

    PATH_add ./fish
    watch_dir fish
fi

export CJ_WORKSPACE="$PWD"
export CJ_OUT="$CJ_WORKSPACE/out"
export CANGJIE_HOME="$CJ_OUT"

PATH_add "$CANGJIE_HOME/bin"
PATH_add "$CANGJIE_HOME/tools/bin"
PATH_add "$HOME/.cjpm/bin"

path_add LD_LIBRARY_PATH "$CANGJIE_HOME/runtime/lib/linux_$(arch)_cjnative"
path_add LD_LIBRARY_PATH "$CANGJIE_HOME/tools/lib"

use flake

