# direnv hook file
#
# DOTFILES_CANGJIE - path to dotfiles.cangjie repo

if [ -v DOTFILES_CANGJIE ]; then
    echo "Using existing dotfiles.cangjie at $DOTFILES_CANGJIE..."
else 
    export DOTFILES_CANGJIE="$PWD"
fi

if [ -v IN_FISH_SHELL ]; then
    echo "With fish environment..."

    PATH_add "$DOTFILES_CANGJIE/fish"
    watch_dir "$DOTFILES_CANGJIE/fish"
fi

export CJ_WORKSPACE="$PWD"
export CJ_OUT="$CJ_WORKSPACE/out"
export CANGJIE_HOME="$CJ_OUT"
export CANGJIE_STDX_PATH="$CJ_OUT/linux_x86_64_cjnative/static/stdx"

PATH_add "$CANGJIE_HOME/bin"
PATH_add "$CANGJIE_HOME/tools/bin"
PATH_add "$HOME/.cjpm/bin"

path_add LD_LIBRARY_PATH "$CANGJIE_HOME/runtime/lib/linux_$(uname -m)_cjnative"
path_add LD_LIBRARY_PATH "$CANGJIE_HOME/tools/lib"
export LD_PRELOAD=/usr/lib/libpcre2-8.so

# use flake <optional directory containing flake.nix>

if [ -v DOTFILES_CANGJIE ]; then
    use flake $DOTFILES_CANGJIE
else 
    use flake
fi

